body{
    background-color: darkred
}
.flexcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 10;
    min-width: 150px;
}

    header{
        font-size: large;
    }

    header nav li {
        display: inline;
    }
    
    .categories ul {
        display: flex;
        justify-content: space-between;
    }
    div nav ul {
    color: silver;
        
    }
    li{
        color: silver
    }
    header i {
        margin-right: 5mm;
        color: silver;
    }
   header{
   background-color: black; color: black;
   }