img {
  display: block;
  width: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header input {
  display: none;

}

header nav {
  font-family: Get schwifty;

}

header label {
  display: none;
  color: white;
}

header {
  background-color: black;
  display: grid;
  padding: 15px;
  margin: 0px;
  box-sizing: border-box;
}

header li {
  color: white;

}

header img {
  display: block;
  width: 400px;
  justify-self: center;
}

main {
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: red;
  font-family: Get schwifty;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

footer .flexcontainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  color: white;
  margin: 10px;

}

footer h3 {
  color: red;
  font-family: get schwifty;
}

footer {
  background-color: black;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

footer h6 {
  color: grey;
  display: flex;
  justify-content: center;
}

#act {
  display: flex;
  align-items: center;
}

.flex-item {
  flex: 1;
}

section#act p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  align-items: center;
}

#video {
  display: flex;
  align-items: center;
}

@media (width <= 750px) {
  header label {
    display: block;
  }

  header nav ul {
    display: none;
  }
  header input#burger:checked+label[for="burger"]+nav ul {
    display: flex;
    flex-direction: column;
}
.gridcontainer{
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  margin-bottom: 3%;

}


}